<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings><add name="Entities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARDOR_NEO_VLAD\SQLEXPRESS01;initial catalog=ADSDB;integrated security=True;multipleactiveresultsets=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>